/* Background */
body {
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e); 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f8f9fa;
}

/* Navbar */
.bg-gradient {
  background: linear-gradient(45deg, orange, #ff4b2b); 
  box-shadow: 0 4px 15px rgba(255, 0, 204, 0.3);
}


/* Glass Card */
.glass-card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 1rem;
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #e0e0e0;
  box-shadow: 0 6px 25px rgba(0,0,0,0.5);
}

/* Buttons */
.btn-gradient {
  background: linear-gradient(45deg, #00f260, #0575e6); /* Neon green → electric blue */
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 0.6rem;
  transition: all 0.3s ease;
}
.btn-gradient:hover {
  transform: scale(1.08);
  box-shadow: 0 0 25px #00f260;
  opacity: 0.95;
}

/* Hero */
.hero {
  background: linear-gradient(135deg, #ff0099, #493240); /* Neon pink → violet */
  color: white;
  border-radius: 1rem;
  box-shadow: 0 12px 35px rgba(0,0,0,0.6);
}

/* Footer */
footer .text-muted {
  color: #ffb6f2 !important; /* neon soft pink */
}
/* welcome  color changed*/
.text-primary {
    --bs-text-opacity: 1;
    color: red !important;}



